/*shared css*/
body{
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color:#FD6E0A;

}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border:0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    
    }
    .about-title{
    color: var #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    }
/*nav bar*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.nav-title{
color:#181818;
font-size: 45px;
font-weight: 800;
margin: 0 200px;

}
nav >ul{
    display:flex;
    align-items:center;
}
    
nav li{
    list-style: none;
    margin-right:50px;
}
nav  a{
    text-decoration: none;
    color: #474747;
}
/*header*/
.header{
    background-color: #FFF8F3;
    background-image:url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.banner-container{
    display: flex;
    padding: 30px 30px 0 150px;
    align-items: center;
    justify-content: space-between;

}
.banner-container .img-style{
    width:500px;
   
}
.header-title1{
 color:  #474747;
font-size: 45px;
font-weight: 600;
margin-bottom: 5px;
}
.header-title2{
    color: #181818; 
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
 
}
.header-description{
color: #757575;
font-size: 18px;
font-weight: 400;
margin-top: 0;

}
.text-section{
    max-width: 500px;
}
/*about sectiom*/
.about-section{
    padding: 130px;
    border-radius: 10px;
    background-color:#FFF8F3;
    margin: 130px 0;
}
.about.description{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    

}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section{
    margin-top: 130px;
}
.about-imfo-container{
    display: flex;
    justify-content: space-around;
}
.about-list{
    text-align: center;
}
#what-i{
     padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 24px;

}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.resume-head{color:  #474747;

font-size: 30px;

font-weight: 700;


}
.resume{
    display: flex;
    gap: 50px;
}
.resume-subject{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}

.resume-school{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;

}
.resume-description{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;

}
.resume hr {
     margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}